@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
	margin: 0px;
	padding: 0px 0px;
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Montserrat' !important;

}

main {
	flex: 1 0 auto;
}

.Titulo{
	color: black;
	cursor: default;
	width: 16%;
}



nav{
	position: fixed;
	background: rgba(0, 137, 123, 0.6) !important;
	padding: 0px 25px;
	z-index: 9999;
}

nav li a:hover{
	background: #33691e;
	transition: 0.8s;
	cursor: pointer;
}

nav.admin{
	position: fixed;
	background-color:  #2979ff;
	padding: 0px 25px;
	z-index: 9999;
}



#logo{
	height: 50px;
	width: 50px;
	margin-top: 5px;
}

header, main, footer {
	padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}

}

.topo{
	width: 135%;
}
